{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <h1 style="text-align:center; padding: 20px;">Votre panier</h1>
    <div class="py-4">
        
        <div class="container">
        <br>
            {% if items|length > 0 %}
                {% for item in items %}
                <div class="p-5 mb-4 bg-light rounded-3">
                        <div class="row align-items-md-stretch">
                            <div class="col-md-6">
                                <div class="h-100 p-5 text-white bg-dark rounded-3">
                                    <h2>{{ item.room.summary }}</h2>
                                    <p>{{ item.room.description }}</p>
                                    <hr>
                                    <h3>La note moyenne de votre C&C </h3>
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            {% for i in 0.. (item.room.rating - 1) %}
                                                <div class="bi-star-fill"></div>
                                            {% endfor %}
                                            {% if (item.room.rating < 5) %}
                                                {% for i in item.room.rating..4 %}
                                                    <div class="bi-star"></div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>                                
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="h-100 p-5 bg-light border rounded-3">
                                    <div class="taille-img">
                                        <img class="card-img-top" src="{{ vich_uploader_asset(item.room, 'imageFile') }}" alt="{{item.room.id}}"/>
                                    </div>
                                    <br>
                                    <h2>Son prix</h2>
                                    {% if item.room.onSale and item.room.price > 5%}
                                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                                        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                        </symbol>
                                    </svg>
                                    <div class="alert alert-success d-flex align-items-center" role="alert">
                                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                                        <div>
                                            Ce C&C est soldé, profitez-en !
                                        </div>
                                    </div>
                                    <p>{{ item.room.price - 5}} € la nuit, soit {{ 30*(item.room.price - 5) }} € par mois.</p>
                                    {% else %}
                                    <p>{{ item.room.price }} € la nuit, soit {{ 30*item.room.price }} € par mois.</p>
                                    {% endif %}
                                    <button class="btn btn-outline-secondary disabled" type="button">Réserver</button>
                                    <a href="{{ path('panier_remove',{'id': item.room.id}) }}" class="btn btn-danger btn-sm">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <br>
                            <br>
                            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='{{ path('shop') }}'">Retour au shop</button>
                        </div>
                </div>
                {% endfor %}
                <hr>
                <div class="col-md-12" style="text-align:center;">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Total à payer</h2>
                        <p><i>{{ 30*total }}</i> €</p>
                    </div>
                </div> 
                <hr>
            {% else %}
                <div class="col-md-12" style="text-align:center;">
                    <div class="h-100 p-5 bg-light border rounded-3">
                        <h2>Votre panier est vide...</h2>
                        <p>Allez réserver le C&C de vos rêves avant qu'il ne soit trop tard !</p>
                        <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='{{ path('shop') }}'">Retour au shop</button>
                    </div>
                </div> 
                <br>
            {% endif %}
            
        </div>
    </div>
    <br>
  
    {# <br>
    {{ form_start(comment_form) }}
    {{ form_widget(comment_form) }}
    <br>
    <button class="btn btn-success">{{ button_label|default('Mettre à jour') }}</button>
{{ form_end(comment_form) }} #}

{% endblock %}